body {
    background-color: #313130;
}

/* typografie */

h1 {
    font-family: $font-family-base;
    color: $tertiary;
    font-size: 20px;
    padding-bottom: 5px;
}

p {
    font-family: $font-family-base;
    color: $primary;
    font-size: 16px;
    padding-bottom: 10px;
}

.quote {
    font-family: $font-family-quote;
    color: $tertiary;
    font-size: 26px;
    text-align: center;
}

.witte_tekst {
    color: $white;
}

#prijs {
    font-size: 18px;
}

/* design */

.gray{
    background-color: #575656;
    margin-bottom: 70px;
}

.quote_home {
    font-size: 40px;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px;
}

.product {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.breadcrumb {
    background-color: #575656;
    padding: 3px 3px 3px 20px;
    border-radius: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.breadcrumb-item.active {
    color: $tertiary;
}

.btn-primary {
    color: #575656;
    background-color: $tertiary;
    text-transform: uppercase;
    border-style: solid;
    border-color: transparent;
    font-weight: bold;
    width: 45%;

        &:hover {
            background-color: #313130;
            border: 1px;
            border-style: solid;
            border-color: $tertiary;
            color: $tertiary;
        }

}


.soort_koffie {
    padding-top: 20px;
    padding-bottom: 5px;
}

.button_home {
    margin-top: 30px;
}

.button_aankoop {
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quote_bestelling {
    font-size: 30px;
    margin-bottom: 40px;
}

.keuze {
    font-size: 18px;
    color: $secondary;
}

.form-group {
    font-family: $font-family-base;
    color: $primary;
    font-size: 16px;
}

.form-inline {
    font-family: $font-family-base;
    color: $primary;
    font-size: 16px;
}

.form-control {
    border-radius: 0px;
    border: none;
}

.toppings {
    padding-bottom: 0px;
}

.soort_topping {
    padding-bottom: 0px;
}

.bedanking {
    font-size: 22px;
    color: $secondary;
}

.maps {
    width: 100vw;
    height: 250px;
}

.map {
    margin-top: 60px;
}

/* navigatie */
.nav-link {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler {
    border-color: $tertiary;
    color: $tertiary;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;

}

.navbar {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* footer */
.info_footer {
    font-family: $font-family-base;
    color: $primary;
    font-size: 15px;
}

.list_footer {
    list-style: none;
    text-align: center;
   
}

.footer {
    background-color: #575656;
    margin-top: 70px;
    padding: 0px;
}

    a:active {
        color: $tertiary;
    }


.logo_footer {
    max-height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    

.icons {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 25px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .nav-link {
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .nav-link {
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .quote_home {
        font-size: 70px;
    }

    .quote_bestelling {
        font-size: 50px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}